<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>webProject</display-name>
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.loaderstudio.todolist.filters.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<servlet-name>AddTaskController</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<servlet-name>FixRemoveController</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<servlet-name>FileUploadController</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<servlet-name>FileRemoveController</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<servlet-name>FileDownloadController</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/addTask.jsp</url-pattern>
	</filter-mapping>
	<servlet>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>com.loaderstudio.todolist.controllers.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>LogoutController</display-name>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>com.loaderstudio.todolist.controllers.LogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>RegisterController</display-name>
		<servlet-name>RegisterController</servlet-name>
		<servlet-class>com.loaderstudio.todolist.controllers.RegisterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterController</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>MainController</display-name>
		<servlet-name>MainController</servlet-name>
		<servlet-class>com.loaderstudio.todolist.controllers.MainController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainController</servlet-name>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>AddTaskController</display-name>
		<servlet-name>AddTaskController</servlet-name>
		<servlet-class>com.loaderstudio.todolist.controllers.AddTaskController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddTaskController</servlet-name>
		<url-pattern>/addTask</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>FixRemoveController</display-name>
		<servlet-name>FixRemoveController</servlet-name>
		<servlet-class>com.loaderstudio.todolist.controllers.FixRemoveController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FixRemoveController</servlet-name>
		<url-pattern>/fixRemove</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>FileUploadController</display-name>
		<servlet-name>FileUploadController</servlet-name>
		<servlet-class>com.loaderstudio.todolist.controllers.FileUploadController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileUploadController</servlet-name>
		<url-pattern>/fileUpload</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>FileRemoveController</display-name>
		<servlet-name>FileRemoveController</servlet-name>
		<servlet-class>com.loaderstudio.todolist.controllers.FileRemoveController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileRemoveController</servlet-name>
		<url-pattern>/fileRemove</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>FileDownloadController</display-name>
		<servlet-name>FileDownloadController</servlet-name>
		<servlet-class>com.loaderstudio.todolist.controllers.FileDownloadController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileDownloadController</servlet-name>
		<url-pattern>/fileDownload</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<jsp-config>
		<taglib>
			<taglib-uri>/jstl/core</taglib-uri>
			<taglib-location>/WEB-INF/c.tld</taglib-location>
		</taglib>
	</jsp-config>
</web-app>